* {
    margin: 0;
    box-sizing: border-box;
  }

body {
   font-family: sans-serif;
   background-image: url("chess.jpg");
   padding: 90px 20px 0;
}

.header {
    background-color: gray;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    padding: 0 40px;
    height:  80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    z-index: 1;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }

.flex-container{
 height: 90vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.block{
    display: flex;
    max-width: 700px;
    width: 30%;
    height: 45vh;
    flex-direction: column;  
}
.sub1{
    display: flex;
    border: aliceblue;
    height: 35%;
    width: 100%;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
}
.item1{
   display: flex;
   height: 20%;
   
}
img{
    border-radius: 50%;
    
}
.sub2{
    display: flex;
    background: white;
    height: 1%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    justify-content: center;
}
.sub3{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(238, 202, 130);
    height: 44%;
    width: 100%;
    background-color: rgb(248, 248, 239);
}
.sub4{
    flex-direction: row;
    align-items: center;
    height: 20%;
    display: flex;
    background-color: antiquewhite;
}

.fa-solid{
    width: 15%;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logo {
    padding: 0 20px;
    height:  60px;
    width: 20px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
    z-index: 1;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    z-index: 1;
    background: none;
    color: #83c5f7;
  }

  .nav-toggle {
    z-index: 1;
    display: block;
  }

  .nav-menu_visible {
    left: 0;
    z-index: 1;
  }

  .nav-toggle:focus:not(:focus-visible) {
    z-index: 1;
    outline: none;
  }
}

.fa-computer-classic{
    z-index: 1 ;
    width: 10px;
    height: 10px;
}

